/* Common styles for table headers and cells */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Add space between tables */
}

th, td {
    padding: 12px; /* Increase padding for better touch interaction */
    text-align: left;
    word-wrap: break-word; /* Allow long words to break and wrap to the next line */
}

#results-container {
    /* Center horizontally */
    margin-left: auto;
    margin-right: auto;
    
    max-height: calc(100vh - 100px); /* Adjust the 100px based on your header and footer heights */
    overflow-y: auto; /* Add vertical scroll if content exceeds the maximum height */
    background-color: #d8d8d8; /* Light gray background color */
    padding: 20px; /* Add padding around the results tables */
    border-radius: 10px; /* Optional: Add rounded corners */
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    max-width: 100%; /* Set initial maximum width to 100% */
    @media screen and (max-width: 767px) {
        padding-top: 20px;
        max-width: 100%; /* Adjust the maximum width for smaller screens */
    }

    /* Media query for screens with a minimum width of 768px and a maximum width of 1200px */
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        max-width: 80%; /* Adjust the maximum width for screens between 768px and 1200px */
    }

    /* Media query for screens with a minimum width of 1201px */
    @media screen and (min-width: 1201px) {
        max-width: 1200px; /* Set a fixed maximum width for larger screens */
    }
}

/* Style for table heading */
#results-container th {
    background-color: #007bff; /* Heading background color */
    color: #fff; /* Heading text color */
}

/* Additional style for tables within the container, including alternate row background color */
#results-container table {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Optional: Add rounded corners to tables */
}

/* Style for alternate row background colors within tables */
#results-container tr:nth-child(even) {
    background-color: #e6f7ff; /* Alternate row background color 1 */
}

#results-container tr:nth-child(odd) {
    background-color: #cce5ff; /* Alternate row background color 2 */
}

/* Style for the schedule table */
.schedule-table {
    width: 100%;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 767px) {
    th, td {
        padding: 8px; /* Decrease padding for smaller screens */
    }

    /* Make the schedule table more responsive */
    .schedule-table th, .schedule-table td {
        text-align: left;
        box-sizing: border-box;
        word-wrap: break-word; /* Allow long words to break and wrap to the next line */
    }
    
    .schedule-table th {
        background-color: #007bff;
        color: #fff;
    }

    .schedule-table td {
        border: none; /* Remove borders between cells */
        border-bottom: 1px solid #ddd; /* Add border only at the bottom of each row */
    }

    /* Enable horizontal scrolling for the schedule table */
    .schedule-container {
        overflow-x: auto;
    }
}
