/* Common styles for table headers and cells */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Add space between tables */
}

th, td {
    padding: 12px; /* Increase padding for better touch interaction */
    text-align: left;
}

#results-container {
    max-height: calc(100vh - 100px); /* Adjust the 100px based on your header and footer heights */
    overflow-y: auto; /* Add vertical scroll if content exceeds the maximum height */
    background-color: #f4f4f4; /* Light gray background color */
    padding: 20px; /* Add padding around the results tables */
    border-radius: 10px; /* Optional: Add rounded corners */
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

/* Style for table heading */
#results-container th {
    background-color: #007bff; /* Heading background color */
    color: #fff; /* Heading text color */
}

/* Additional style for tables within the container, including alternate row background color */
#results-container table {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Optional: Add rounded corners to tables */
}

/* Style for alternate row background colors within tables */
#results-container tr:nth-child(even) {
    background-color: #e6f7ff; /* Alternate row background color 1 */
}

#results-container tr:nth-child(odd) {
    background-color: #cce5ff; /* Alternate row background color 2 */
}

/* Style for the schedule table */
.schedule-table {
    width: 100%;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 767px) {
    th, td {
        padding: 8px; /* Decrease padding for smaller screens */
    }

    /* Make the schedule table more responsive */
    .schedule-table th, .schedule-table td {
        width: calc(100vh - 100px); /* Full width for each column on smaller screens */
        text-align: left;
        display: block;
        box-sizing: border-box;
    }

    .schedule-table th {
        background-color: #007bff;
        color: #fff;
    }

    .schedule-table td {
        border: none; /* Remove borders between cells */
        border-bottom: 1px solid #ddd; /* Add border only at the bottom of each row */
    }

    /* Enable horizontal scrolling for the schedule table */
    .schedule-container {
        overflow-x: auto;
    }
}
