/* Common styles for table headers and cells */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Add space between tables */
}

th, td {
    padding: 15px; /* Increase padding for better touch interaction */
    text-align: left;
    word-wrap: break-word; /* Allow long words to break and wrap to the next line */
    font-size: 11px;
}

#results-container {
    /* Center horizontally */
    margin-left: auto;
    margin-right: auto;
    
    max-height: calc(100vh - 100px); /* Adjust the 100px based on your header and footer heights */
    overflow-y: auto; /* Add vertical scroll if content exceeds the maximum height */
    background-color: #d8d8d8; /* Light gray background color */
    padding: 20px; /* Add padding around the results tables */
    border-radius: 10px; /* Optional: Add rounded corners */
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    max-width: 100%; /* Set initial maximum width to 100% */

    @media screen and (max-width: 767px) {
        padding: 20px 10px; /* Adjust padding for smaller screens */
        max-width: 100%; /* Adjust the maximum width for smaller screens */
    }

    /* Media query for screens with a minimum width of 768px and a maximum width of 1200px */
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        max-width: 80%; /* Adjust the maximum width for screens between 768px and 1200px */
    }

    /* Media query for screens with a minimum width of 1201px */
    @media screen and (min-width: 1201px) {
        max-width: 1200px; /* Set a fixed maximum width for larger screens */
    }
}

/* Style for table heading */
#results-container th {
    background-color: #002144; /* Heading background color */
    color: #fff; /* Heading text color */
}

/* Additional style for tables within the container, including alternate row background color */
#results-container table {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Optional: Add rounded corners to tables */
}

/* Style for alternate row background colors within tables */
#results-container tr:nth-child(even) {
    background-color: #e6f7ff; /* Alternate row background color 1 */
}

#results-container tr:nth-child(odd) {
    background-color: #cce5ff; /* Alternate row background color 2 */
}

/* Style for the schedule table */
.schedule-table {
    width: 100%;
}

/* Style for the "No bus found" message */
.no-bus-message {
    font-family: "Raleway", sans-serif;
    color: #d9534f; /* Set text color to a red shade */
    font-size: 16px; /* Set font size */
    padding-bottom: 30px;
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center-align the text */
    margin-top: 20px; /* Add some top margin */
}

/* Add these styles to your CSS file or style section */
button {
    padding: 10px 20px;
    font-family: "Raleway", sans-serif;
    background-color: #4c005f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px; /* Add some top margin for separation */
    display: block;
    margin: 0 auto; /* Center the button horizontally */
}

button:hover {
    background-color: #730093;
}



/* Responsive styles for smaller screens */
@media screen and (max-width: 767px) {
    th, td {
        padding: 8px; /* Decrease padding for smaller screens */
        font-size: 0.9em; /* Adjust font size for smaller screens */
    }

    /* Make the schedule table more responsive */
    .schedule-table th, .schedule-table td {
        text-align: left;
        box-sizing: border-box;
        word-wrap: break-word; /* Allow long words to break and wrap to the next line */
    }
    
    .schedule-table th {
        background-color: #007bff;
        color: #fff;
    }

    .schedule-table td {
        border: none; /* Remove borders between cells */
        border-bottom: 1px solid #ddd; /* Add border only at the bottom of each row */
    }

    /* Enable horizontal scrolling for the schedule table */
    .schedule-container {
        overflow-x: auto;
    }
}
